/*selector, 선택자 { declaration, 효과 or 선언 (=Property: Value)*/
/*Tag < Class < 먼저 온 ID < 나중 ID*/
body { 
    background-color: rgb(31, 35, 58); 
    font-family: 'Times New Roman', Times, serif;
    color: whitesmoke;
    margin: 0;
}
a {
    color: powderblue;
    text-decoration: underline;
}
button> a {
    color: whitesmoke;
}
h1 {
    font-size: 3rem;
    text-align: center;
    border-bottom: 1px solid whitesmoke;
    padding: 15px;
    margin:0;
}
#grid ol {
    border-right: 1px solid whitesmoke;
    width: 200px;
    margin: 0;
    padding: 20px 5px 20px 35px;
}
#grid{
        display: grid;
        grid-template-columns: 255px 1fr;
    }
#article{
    padding: 0px 10px;
}
@media(max-width:600px){
    h1 {font-size:2.5rem;}
    #grid{display: block;}
    #grid ol{
        border-right: none;
        border-bottom:1px solid whitesmoke;
        width:100%;
    }
    #article{padding: 0px 20px;}
    button{margin:0;}
}
button {
    border-radius: 50px;
    border: 1px solid whitesmoke;
    padding: 5px 10px;
    background-color: #333;
    cursor: pointer;
    color: whitesmoke;
    margin-left: -15px;
}
li {
    margin-bottom: 0.5rem;
    }